* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Semibold, PingFang SC, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;

}

a:hover,
a:active {
  text-decoration: none;
  background: none;
  color: #ffffff;
}

img {
  max-width: 100%;
}

body {
  background-color: #000000;

  color: #ffffff;
  font-size: 1.6rem;
}

.main {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  padding-top: 18rem;
  padding-bottom: 12rem;
}

.vhmar{
  margin-bottom: 100vh;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 79.3rem;
}

.world-bg {
  background: url(../images/body@2x.png) no-repeat top right;
  background-size: 65rem auto;
  width: 65rem;
  height: 79.3rem;
  position: absolute;
  top: 0;
  left: 50%;
  /* margin-left: 24rem; */
  transform: translate(24rem, 0);
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  left: 0;
  border-bottom: 1px solid rgba(231, 234, 243, 0.5);
  z-index: 99;
  background: #000000;
}

header .main,
aside .main,
footer .main {
  padding: 0;
}

.article1 {
  min-height: 100rem;
}

.head {
  float: left;
}

.menus {
  float: right;
}

.menus li {
  line-height: 64px;
  display: inline-block;
  padding: 0 2rem;
}

.menus li a {
  color: #E3E3E3;
  font-size: 16px;
}

.menus li a:hover {
  color: #ffffff;
}

.menus-mobile {
  width: 40px;
  height: 40px;
  background: url(../images/menusmobile@2x.png) no-repeat center center;
  overflow: hidden;
  text-indent: -999em;
  display: none;
}

.closemenus {
  width: 40px;
  height: 40px;
  background: url(../images/close@2x.png) no-repeat center center;
  overflow: hidden;
  text-indent: -999em;
  display: none;
}

.logo {
  font-size: 0;
  line-height: 64px;
}

.logo img {
  width: 220px;
}

/* article{
  height: 100vh;
} */

.bannertitle {
  /* padding-top: 12rem; */
}

.banner {
  position: absolute;
  top: 0;
  right: -15rem;
}

.banner img {
  width: 75rem;
}

.bannertitle img {
  width: 63rem;
}

.content-learn-more {
  margin-top: 10rem;
}

.content-learn-more img {
  width: 16.2rem;
}

.article2-bottom{ 
  padding-bottom:100rem;
}

.article2-title{
  position: sticky;
  top: 18rem;
}

.article5-sticky,.article6-sticky{
  position: sticky;
  top: 18rem;
  padding-bottom: 20rem;
}

.title {
  font-size: 3.8rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #EEEEEE;
  line-height: 4.8rem;
  text-align: center;
}

.content-title {
  font-size: 3.8rem;
  line-height: 4.8rem;
  padding-bottom: 1.6rem;

}

.content-des {
  font-size: 2rem;
  color: #E3E3E3;
  line-height: 3.2rem;
}

.content-des-wid {
  width: 82rem;
  padding-top: 80rem;
}

.content-items {
  padding-bottom: 35rem;
}
.box-item-con{
  text-align: right;
  padding-right: 5rem;
}
.content-items{
  display: inline-block;
}
.content-items li {
  padding-bottom: 11rem;
  text-align: left;
}

.content-items li:last-child {
  padding-bottom: 0;
}

.content-items-title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  padding-left: 4.2rem;

}

.content-items-title.bg1 {
  background: url(../images/top1@2x.png) no-repeat left center;
  background-size: 3.2rem;
}

.content-items-title.bg2 {
  background: url(../images/top2@2x.png) no-repeat left center;
  background-size: 3.2rem;
}

.content-items-title.bg3 {
  background: url(../images/top3@2x.png) no-repeat left center;
  background-size: 3.2rem;
}

.content-items-title.bg4 {
  background: url(../images/top4@2x.png) no-repeat left center;
  background-size: 3.2rem;
}

.title-des {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #E3E3E3;
  line-height: 3.2rem;
}

.content-print {
  font-size: 3.8rem;
  line-height: 4.8rem;
  color: #E72A7A;
  padding-top: 1rem;
  display: inline-block;
}

.print-tootls {
  animation: printtools .5s infinite alternate;
}

@keyframes printtools {
  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

/* @keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
} */

.box-content{
  position: sticky;
  top: 18rem;
  padding-bottom: 80rem;
}

.content-img {
  padding: 8rem 0;
}

.content-img img {
  width: 19rem;
}

.content-img1 {
  padding: 9.2rem 0;
  text-align: right;
}

.content-img1 img {
  width: 85rem;
}

.content-img2 {
  padding: 14rem 0 0 0;
  text-align: right;
}

.content-learn-more a img {
  transition: all 0.5s linear;
}

.content-learn-more a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.content-img2 img {
  width: 71rem;
}

.content-module {
  text-align: right;
  padding: 4rem 5rem 0;

}

.content-module-con {
  width: 56rem;
  display: inline-block;
  padding: 0.4rem;
  background: url(../images/boxbg.png) no-repeat center center;
  background-size: cover;
}

.content-module-con-box {
  text-align: left;
  padding: 15rem 5.6rem;
  background: #000000;
}

.content-module-con-title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.content-module-con-des {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #E3E3E3;
}

.power {
  text-align: center;

}

.power-list {
  text-align: center;
  width: 50rem;
  height: 31rem;
  position: relative;
  display: inline-block;
  margin: 6rem 3rem 0;
  padding: 4rem;
  z-index: 3;
}

.power-before {
  position: absolute;
  ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/boxbg.png) no-repeat center center;
  background-size: cover;
  z-index: 4;
  padding: 0.2rem;
}

.power-before div {
  width: 100%;
  height: 100%;
  background: #000000;
}

.power-after {
  position: absolute;
  ;
  left: 1.6rem;
  top: 1rem;
  width: 100%;
  height: 100%;
  background: url(../images/boxbg.png) no-repeat center center;
  background-size: cover;
  z-index: 5;
  padding: 0.2rem;
}

.power-after div {
  width: 100%;
  height: 100%;
  background: #000000;
}

.power-list-title {
  font-size: 2.8rem;
  position: relative;
  z-index: 6;
}

.power-list-des {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #E3E3E3;
  padding-top: 2rem;
  position: relative;
  z-index: 6;
}

.together {
  text-align: center;
  padding: 2rem 15rem;
}

.together li {
  display: inline-block;
  padding: 2rem 1.5rem;
}

.together li img {
  height: 3rem;
}

.people {
  padding: 3rem 6rem 0;
}

aside {
  padding-top: 20rem;
}

.people-list {
  padding: 5rem 3.6rem 0;
  text-align: center;
}

.people-list div {
  padding-bottom: 0.5rem;
}

.people-list img {
  width: 9rem;
}

.people-des {
  color: #9d9d9d;
}

.foottip {
  text-align: center;
  padding-bottom: 2.4rem;
}

.foottip img {
  width: 38rem;
}

.footlogo {
  text-align: center;
  padding-bottom: 2.4rem;
}

.footlogo img {
  width: 18rem;
}

footer {
  border-top: 1px solid rgba(231, 234, 243, 0.5);
  padding-top: 1.6rem;
}

.concat-list {
  text-align: center;
  padding-bottom: 1.6rem;
}

.concat-list li {
  display: inline-block;
  width: 2.2rem;
  height: 1.8rem;
  margin: 0 0.4rem;
}

.concat-list li a {
  display: block;
  width: 2.2rem;
  ;
  height: 1.8rem;
  overflow: hidden;
  text-indent: -999em;
  font-size: 0;
  line-height: 0;
}

.concat-list li a.telegram {
  background: url(../images/telegram.png) no-repeat center;
  background-size: 100% auto;
}

.concat-list li a.twitter {
  background: url(../images/twitter.png) no-repeat center;
  background-size: 100% auto;
}

.concat-list li a.github {
  background: url(../images/github.png) no-repeat center;
  background-size: 100% auto;
}

.copyright {
  text-align: center;
  font-size: 2rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
  line-height: 1;
  padding-bottom: 1.6rem;
}



.down-up {
  -webkit-transform: translate(0, 10rem);
  transform: translate(0, 10rem);
  opacity: 0;
}

.animation .down-up {
  animation: downup 1s linear forwards;
  -webkit-animation: downup 1s linear forwards;
}

@keyframes downup {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes downup {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


@media (max-width: 1300px) {
  .main {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 980px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .down-up{
    opacity: 1;
    transform:translate(0,0);
  }
  .head {
    float: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article1 {
    min-height: auto;
  }

  .mobile .closemenus {

    display: block;
  }

  .mobile .menus-mobile {
    display: none;
  }

  .mobile .menus {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 40px;
    background: rgba(0, 0, 0, 0.8);
  }

  .mobile .menus li {
    display: block;
    text-align: center;
    line-height: 48px;
  }

  .mobile .menus li a {
    font-size: 16px;
  }

  header {
    height: 40px;
  }

  .logo {
    line-height: 40px;
    padding-left: 10px;
  }

  .logo img {
    width: 140px;
  }

  .closemenus {
    background-size: 20px auto;
  }

  .menus-mobile {
    display: block;
    background-size: 20px auto;
  }

  .menus {
    display: none;
  }

  .content-module {
    padding: 4rem 0 0;
  }

  .content-des-wid,
  .power-list {
    width: auto;
  }

  .content-module-con {
    width: auto;
    height: auto;
  }

  .flex {
    display: block;
  }

  .together {
    padding: 2rem 0;
  }

  .content-items {
    padding-left: 0;
  }

  .content-img2,
  .content-img1 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .banner {
    position: relative;
    right: 0;
  }

  .people {
    padding: 3rem 0;
  }

  .power-list {
    margin: 6rem 2rem 0 1rem;
    height: auto;
  }

  .article2-bottom{
    padding: 0;
  }

  .article2-title{
    position: relative;
    top: 0;
  }
  .box-content,.article5-sticky,.article6-sticky{
    position: relative;
    top: 0;
    padding-bottom: 0;
  }
  .box-item-con{
    text-align: left;
    padding-right: 0;
  }
  .content-items{
    padding-bottom: 0;
  }
  .content-des-wid{
    padding-top: 0;
  }
}