.light {
  position: relative;
  display: inline-block;
}

.light-1 {
  position: absolute;
  left: 10.4rem;
  top: 15.2rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-104deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth1 2s linear infinite;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth1 {
  0% {
    transform: translate(0, 0) rotate(-104deg);
  }

  100% {
    transform: translate(-1.3rem, -4.6rem) rotate(-104deg);
  }
}

.light-2 {
  position: absolute;
  left: 26.6rem;
  top: 22.1rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth2 2s linear infinite;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth2 {
  0% {
    transform: translate(0, 0) rotate(-180deg);
  }

  100% {
    transform: translate(-6.4rem, 0) rotate(-180deg);
  }
}

.light-3 {
  position: absolute;
  left: 33.8rem;
  top: 16rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-105deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth3 2s linear infinite;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth3 {
  0% {
    transform: translate(0, 0) rotate(-105deg);
  }

  100% {
    transform: translate(-1.6rem, -5.6rem) rotate(-105deg);
  }
}

.light-4 {
  position: absolute;
  left: 24rem;
  top: 39rem;
  width: 0.6rem;
  height: 0.4rem;
  /* transform: rotate(-105deg);
  transform-origin: 0 0; */
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth4 2s linear infinite;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth4 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(9.2rem, 0);
  }
}

.light-5 {
  position: absolute;
  left: 27.2rem;
  top: 24.2rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth5 4s linear infinite alternate;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth5 {
  0% {
    transform: translate(0, 0) rotate(180deg);
  }

  20% {
    transform: translate(-3.3rem, 0) rotate(180deg);
  }

  21% {
    transform: translate(-3.3rem, 0) rotate(73deg);
  }

  80% {
    transform: translate(0.3rem, 12.2rem) rotate(73deg);
  }

  81% {
    transform: translate(0.3rem, 13rem) rotate(180deg);
  }

  100% {
    transform: translate(-3.3rem, 13rem) rotate(180deg);
  }
}

.light-6 {
  position: absolute;
  left: 37rem;
  top: 27.6rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-105deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth6 2s linear infinite alternate;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth6 {
  0% {
    transform: translate(0, 0) rotate(-105deg);
  }

  100% {
    transform: translate(2rem, 7rem) rotate(-105deg);
  }
}

.light-7 {
  position: absolute;
  left: 61.6rem;
  top: 34.4rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(-108deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth7 2s linear infinite alternate;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth7 {
  0% {
    transform: translate(0, 0) rotate(-108deg);
  }

  100% {
    transform: translate(-2rem, -6.8rem) rotate(-108deg);
  }
}


.light-8 {
  position: absolute;
  left: 46.8rem;
  top: 39rem;
  width: 0.6rem;
  height: 0.4rem;
  /* transform: rotate(-105deg);
  transform-origin: 0 0; */
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth8 2s linear infinite alternate;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth8 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(9.2rem, 0);
  }
}


.light-9 {
  position: absolute;
  left: 44.4rem;
  top: 21.6rem;
  width: 0.6rem;
  height: 0.4rem;
  transform: rotate(0deg);
  transform-origin: 0 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  animation: ligth9 4s linear infinite alternate;
  box-shadow: 0 0 0.5rem #ffffff;
}

@keyframes ligth9 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  20% {
    transform: translate(3.6rem, 0) rotate(0deg);
  }

  21% {
    transform: translate(4rem, 0) rotate(73deg);
  }

  80% {
    transform: translate(8.2rem, 15rem) rotate(73deg);
  }

  81% {
    transform: translate(7.8rem, 15rem) rotate(0deg);
  }

  100% {
    transform: translate(11rem, 15rem) rotate(0deg);
  }
}